<!DOCTYPE html>
<html>
<head>
	<title>403 Forbidden</title>
</head>
<body>

<p>Directory access is forbidden.</p>

</body>
</html>


<div class="x_panel">
	<div class="x_title">
		<h2>Tiêu đề</h2>
		<ul class="nav navbar-right panel_toolbox">
	        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#">Settings 1</a>
	            </li>
	            <li><a href="#">Settings 2</a>
	            </li>
	          </ul>
	        </li>
	        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
	    </ul>
	    <div class="clearfix"></div>
	</div>
	<div class="x_content">
		<table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
        <thead>
          <tr>
            <th><input type="checkbox" id="check-all" class="flat"></th>
            <th>Nhân viên</th>
            <th>Số điện thoại</th>
            <th>Sinh nhật</th>
            <th>Cấp độ</th>
            <th>Phòng</th>
            <th class=""><i class="fa fa-gear" style="float:right!important;"></i></th>
          </tr>
        </thead>

        <tbody>
        	<tr>
	            <td><input type="checkbox" id="check-all" class="flat"></td>
	            <td>Nhân viên</td>
	            <td>Số điện thoại</td>
	            <td>Sinh nhật</td>
	            <td>Cấp độ</td>
	            <td>Phòng</td>
	            <td class=""><i class="fa fa-gear" style="float:right!important;"></i></td>
          </tr>
        </tbody>
        </table>
	</div>
</div>





<div class="" role="tabpanel" data-example-id="togglable-tabs">
  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Dự án có thời hạn</a>
    </li>
    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Công việc hàng ngày</a>
    </li>
  </ul>
</div>

<div id="myTabContent" class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">home</div>
    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">tab</div>
</div>

<!-- Phần 8: admin -->
<!-- Phần 10: login -->
<!-- phần 11: catalog -->
<!-- Phần 12: phân trang, lọc dữ liệu -->
<!-- lịch sử phiên tài xỉu -->
<!-- chat -->
<!-- phòng vip free -->
<!-- thắng thua -->